*.sw[op]
dist
dist-tests
build/
pkg-build
node_modules
logs
shmig.local.conf
.node-xml*
config.local.json
prod.auth-gateway.ecdsa.pem
prod.auth-gateway.ecdsa.pub.pem
auth-gateway.ecdsa.pem
auth-gateway.ecdsa.pub.pem
